
BettyBossi.xcodeproj/project.xcworkspace/xcuserdata/eminemini.xcuserdatad/UserInterfaceState.xcuserstate

BettyBossi.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

BettyBossi.xcodeproj/xcuserdata/eminemini.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

BettyBossi.xcodeproj/xcuserdata/eminemini.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store
UserInterfaceState.xcuserstate
